@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #b63dfc;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.btn {
  background: rebeccapurple;
  font-size: 2rem;
  border: 0;
  margin: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  border: 1px solid #000;
}
